<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DASHBOARD</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

    <script type="text/javascript">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    console.log('http://' + document.domain + ':' + location.port)

    socket.on('connect', function() {
       // socket.send(`User has connected! Hello: {{name}}` );
        socket.emit('user_connected', `User has connected! Hello: {{ name }}`);
        });

    socket.on('dashboard', function(data) {
        //  console.log(data);
        // console.log(JSON.stringify(data))
            let jdata = JSON.stringify(data)
            let obj = JSON.parse(jdata)

            console.log(obj.data)
            console.log(`object = > ${jdata}`)
            if (obj.data.id == 1) {
                document.getElementById('room1').textContent = obj.data.queue;
            }
            if (obj.data.id == 2) {
                document.getElementById('room2').textContent = obj.data.queue;
            }
            if (obj.data.id == 3) {
                document.getElementById('room3').textContent = obj.data.queue;
            }
            //document.getElementById('txtarea2').value =data.data;
        //  document.getElementById('testlist').innerHTML += `<li>${data.data}</li>`;
        });

    </script>
</head>


<body>

   <div class="container">
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="row">
       
        <div class="col-md-4 mb-1">
            <div class="card">
                <div class="card-header">
                <i class="bi bi-5-circle-fill"></i> ROOM 1
               </div>
                <div class="card-body mt-1">
                  <div class="d-flex justify-content-between">
                    <h1 id="room1"><i class="bi bi-journal-medical"></i> &nbsp; </h1> 
                    </div>
                </div>  

              </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="card h-100">
                <div class="card-header">
                <i class="bi bi-5-circle-fill"></i> ROOM 2
               </div>
                <div class="card-body mt-1">
                  <div class="d-flex justify-content-between">
                    <h1 id="room2"><i class="bi bi-journal-medical"></i> &nbsp;</h1> 
                    </div>
                </div>  

              </div>
        </div>
        <div class="col-md-4 mb-1">
            <div class="card">
                <div class="card-header">
                <i class="bi bi-5-circle-fill"></i> ROOM 3
               </div>
                <div class="card-body mt-1">
                  <div class="d-flex justify-content-between">
                    <h1 id="room3"><i class="bi bi-journal-medical"></i> &nbsp;</h1> 
                    </div>
                </div>  

              </div>
        </div>
        </div>
     </div>
    </div>
</div>
    
</body>
</html>